body

{
	font: 13px;
	font-family: cursive, Arial, sans-serif;
}
.chat-meta
{
	color: #9AB6DB;
}

#chat-log
{
	background-color: #FFF5EE;
	margin: 5px;
	border: solid 2px #E2A76F;
	position: fixed;
	top: 50px;
	bottom: 85px;
	width: 95%;
	overflow-y: scroll;
}

#chat-log ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

#chat-log ul li
{
	padding: 5px 10px;
}


#chat-log ul li.them-line
{
	background-color: #FAEBD7;
}
form
{
	background-color: #FFABCA;
	position: fixed;
	bottom: 5px;
	left: 13px;
	right: 25px;
	padding: 0px;
	height: 30px;
}

#chat-form
{
	border: none;
	
}

form #chat-input
{
	border: solid 2px #E2A76F;
	padding: 10px;
	width: 85%;
	margin-right: .5%;
	background-color: #FFF5EE;
}

.box{
	background-image: url("http://orig03.deviantart.net/ec57/f/2013/148/7/0/sailor_moon_crystal_brooch_icon_by_meinona-d66vo9z.gif");
	background-repeat: repeat-y;
	float: right;
	height: 50px;
	width: 50px;
	border: none;
	opacity: 20;
	cursor: pointer;
}

.day {
	background-color: #FFABCA;
}

.night {
	background-color: #2A384A;
}

form button
{
	width: 12%; 
	padding: 10px;
}.console-line {
  	font-family: monospace;
  	
}
