body
/*reset*/ h1,h4 {margin:0;}

/* basic styles */
h1 { margin-bottom: 10px; }
div { 
  width: 680px;
  padding: 10px 25px;
  margin: 50px auto;
  border-radius: 7px;
  background: rgba(255, 255, 255, 0.4); 
  color: #1F1F1F;
}

/* backgrounds */
.day { background: url('http://www.spaceweather.com/swpod2007/21oct07/holloway.gif'); }
.sunset { background: url('http://www.spaceweather.com/swpod2007/21oct07/holloway.gif'); }
.night { background: url('http://www.spaceweather.com/swpod2007/21oct07/holloway.gif'); }


{
	font: 13px;
	font-family: helvetica;, Arial, sans-serif;
	background-color: #FAEBD7;
}

#chat-log
{
	background-color: #FFF5EE;
	margin: 5px;
	border: solid 2px #E2A76F;
	position: fixed;
	top: 30px;
	bottom: 90px;
	width: 95%;
	overflow-y: scroll;
}

#chat-log ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

#chat-log ul li
{
	padding: 5px 10px;
}


#chat-log ul li.them-line
{
	background-color: #FAEBD7;
}

form
{
	background-color: #FAEBD7;
	position: fixed;
	bottom: 5px;
	left: 5px;
	right: 2px;
	padding: 8;
	height: 30px;
}
#chat-form
{
	border: none;
}
form #chat-input
{
	border: solid 2px #E2A76F;
	padding: 10px;
	width: 85%;
	margin-right: .5%;
}

.box{
	background-image: url("http://orig03.deviantart.net/ec57/f/2013/148/7/0/sailor_moon_crystal_brooch_icon_by_meinona-d66vo9z.gif");
	background-repeat: repeat-y;
	float: right;
	height: 50px;
	width: 50px;
	background-color: #FAEBD7;
	border: none;
	opacity: 20;
}

form button
{
	width: 12%; 
	padding: 10px;
}.console-line {
  	font-family: monospace;
  	
}
